

<!-- <div class="container-fluid">
  <h2> Add Project Form</h2>
  <form [formGroup]="projectForm" (ngSubmnit)="onSubmit()">

    <div [hidden]="true" class="form-group">
      <input type="number" [(ngModel)]="exampleProject.userId" formControlName="projectId" class="form-control">
  </div>

    <div class="form-group">
      <label>Project Name</label>
      <input type="text" formControlName="projectName" [(ngModel)]="exampleproject.projectName" [class.is-invalid]="projectName.invalid && projectName.touched" class="form-control">
      <div *ngIf="projectName.invalid && projectName.touched">
        <small class="text-danger" *ngIf="projectName.errors?.required">projectName is required</small>
        <small class="text-danger" *ngIf="projectName.errors?.minlength">projectName must be at least 3 characters</small>
      </div>
    </div>

     <input type="checkbox" (change)="dataEditable($event)">
<label>Set Start Date and End Date</label>


    <div class="form-group">
      <label>priority</label>
      <! <p>{{projectForm.value}}</p> -->
<!-- <input type="range" min="0" max="30" [(ngModel)]="exampleproject.proirity" [class.is-invalid]="priority.invalid && priority.touched"
        class="form-control">
      <small class="text-danger" [class.is-none]="priority.valid || priority.untouched"></small>
    </div>

    <div class="form-group">
      <label>EmpId</label>
      <input type="number" [(ngModel)]="example.empId" formControlName="empId" [class.is-invalid]="empId.invalid && empId.touched"
        class="form-control">
      <small class="text-danger" [class.is-none]="empId.valid || empId.untouched"></small>
    </div>


    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!userForm.valid" type="submit">Add User</button>
    <button class="btn btn-primary" [disabled]="!userForm.valid" type="reset">reset</button>
  </form>

  {{userForm.value | json}}

</div> -->


<div class="container-fluid">
  <h2>Add Project Form</h2>
  <form #projectForm="ngForm" (ngSubmnit)="onSubmit(projectModel)">

    <div class="form-group">
      <label>projectName</label>
       <input type="text" #projectName="ngModel" placeholder="projectName" required class="form-control" [class.is-invalid]="projectName.invalid && projectName.touched"
      name="projectName" [(ngModel)]="projectModel.projectName">
  <small class="text-danger" [class.d-none]="projectName.valid || projectName.untouched">projectName is required</small>
    </div>


    <input type="checkbox" name="check" (change)="dateEditable()">
    <label>Set Start Date and End Date</label>

    <div class="form-group">
      <label>StartDate</label>
      <input [disabled]="isDateDisabled" type="date" [value]="date" #startDate="ngModel" placeholder="startDate" required class="form-control"
        [class.is-invalid]="startDate.invalid && startDate.touched" name="startDate" [(ngModel)]="projectModel.startDate">
      <small class="text-danger" [class.d-none]="startDate.valid || startDate.untouched">startdate is required</small>
    </div>

    <div class="form-group">
      <label>EndDate</label>
      <input type="date" [disabled]="isDateDisabled" [value]="date" #endDate="ngModel" placeholder="endDate" required class="form-control"
        [class.is-invalid]="endDate.invalid && endDate.touched" name="endDate" [(ngModel)]="projectModel.endDate">
      <small class="text-danger" [class.d-none]="endDate.valid || endDate.untouched">enddate is required</small>
    </div>

    <div class="form-group">
      <label>priority</label>
      <p>{{projectModel.priority}}</p>
      <input type="range" min="0" max="30" #priority="ngModel" placeholder="priority" required class="form-control" [class.is-invalid]="priority.invalid && priority.touched"
        name="priority" [(ngModel)]="projectModel.priority">
      <small class="text-danger" [class.d-none]="priority.valid || priority.untouched">priority is required</small>
    </div>

    <div class="form-group">
      <label>manager</label>
      <input type="text" placeholder="manager" required class="form-control" 
        name="manager" id="manager" >
    </div>

    <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Search</button>

<br/>
    <button class="btn btn-primary" (click)="onSubmit(projectModel)" [disabled]="!projectForm.valid" type="submit">Add Project</button>
    <button class="btn btn-primary" [disabled]="!projectForm.valid" type="reset">reset</button>
  </form>

  {{projectForm.value | json}}
</div>

<table class="table table-striped" [mfData]="projectDatas" #mf="mfDataTable" [mfRowsOnPage]="500">
  <thead>
    <tr>
      <th style="width: 20%">
        <input type="text" (keyup)='search($event.target.value)' placeholder="Search">
      </th>
      <th style="width: 20%">
        <label>Sort By: </label>
      </th>

      <th style="width: 20%">
        <mfDefaultSorter by="startDate">
          <button>Start Date</button>
        </mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="endDate">
          <button>End Date</button>
        </mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="priority">
          <button>priority</button>
        </mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="completed">
          <button>completed</button>
        </mfDefaultSorter>
      </th>

    </tr>
    <tr>

      <th style="width: 20%">
        <label> Project</label>
      </th>
      <th style="width: 20%">
        <label>Priority</label>
      </th>
      <th style="width: 20%">
        <label>No of Tasks</label>
      </th>
      <th style="width: 20%">
        <label>Completed</label>
      </th>
      <th style="width: 20%">
        <label>StartDate</label>
      </th>
      <th style="width: 20%">
        <label>EndDate</label>
      </th>
      <th style="width: 20%">
        <label> Manager</label>
      </th>
      <th style="width: 20%">
        <label> Update</label>
      </th>
      <th style="width: 20%">
        <label> Suspend</label>
      </th>
   
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.projectName}}</td>
      <td>{{item.priority}}</td>    
      <td>{{item.noOfTasks}}</td>      
      <td>{{item.completedTask}}</td>      
      <td>{{item.startDate}}</td>
      <td>{{item.endDate}}</td>
      <td>{{item.user.firstName}}</td>
     

      <td>
        <button type="button"  id="btnSubmit" [disabled]="item.isDisabled" (click)="updateProject(item)" class="glyphicon glyphicon-check">Update</button>
      </td>
      <td>
        <button type="button"  (click)="suspendProject(item)"  class="glyphicon glyphicon-check">Suspend</button>
      </td>
    
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>

 <!-- The Modal -->
 <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div>
                <input type="text" class="form-control" id="searchManager" name="search" placeholder="Search..." (keyup)='searchManager($event.target.value)'>
              </div>
              <select class="form-control" [(ngModel)]="select" (change)="managerIsChosen()">
                <option value="Default">.....Choose Manager.....</option>
                <option *ngFor="let user of usersList" [ngValue]="user" id="chosenManager" name="chosenManager" >{{user.firstName}}</option>
              </select>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>