<div class="container-fluid">
<h2>Add Task Form</h2>
<form #taskForm="ngForm" >


  <div class="form-group">
    <label>project</label>
    <input type="text" placeholder="project" required class="form-control" 
      name="project" id="project" >
  </div>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myProjectModal">Search</button>


  <div class="form-group">
    <label>task</label>
    <input type="text" #task="ngModel" placeholder="task" required class="form-control" [class.is-invalid]="task.invalid && task.touched"
   name="task" [(ngModel)]="taskModel.task">
      <small class="text-danger" [class.d-none]="task.valid || task.untouched">task is required</small>
    </div>

  <input type="checkbox" name="check" (change)="tickparenttask()">
  <label>Parent task</label>

  <div class="form-group">
    <label>priority</label>
    <p>{{taskModel.priority}}</p>
    <input type="range" min="0" max="30"   [disabled]="isBoxDisabled"  #priority="ngModel" placeholder="priority" required class="form-control" [class.is-invalid]="priority.invalid && priority.touched"
      name="priority" [(ngModel)]="taskModel.priority">
    <small class="text-danger" [class.d-none]="priority.valid || priority.untouched">priority is required</small>
  </div>

  <div class="form-group">
    <label>Parent task</label>
    <input  [disabled]="isBoxDisabled" type="text"[(ngModel)]="taskModel.parent" #parent="ngModel" placeholder="parentTask" required class="form-control" 
      name="parent" id="parent" >
  </div>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myParentTaskModal">Search</button>
  
  <div class="form-group">
    <label>StartDate</label>
    <input type="date"   [disabled]="isBoxDisabled"  [value]="date" #startDate="ngModel" placeholder="startDate" required class="form-control"
      [class.is-invalid]="startDate.invalid && startDate.touched" name="startDate" [(ngModel)]="taskModel.startDate">
    <small class="text-danger" [class.d-none]="startDate.valid || startDate.untouched">startdate is required</small>
  </div>


  <div class="form-group">
    <label>EndDate</label>
    <input type="date"   [disabled]="isBoxDisabled" [value]="date" #endDate="ngModel" placeholder="endDate" required class="form-control"
      [class.is-invalid]="endDate.invalid && endDate.touched" name="endDate" [(ngModel)]="taskModel.endDate" >
       <small class="text-danger" [class.d-none]="endDate.valid || endDate.untouched">endDate is required</small> 
    </div>

  <div class="form-group">
    <label>user</label>
    <input type="text"  [disabled]="isBoxDisabled"  placeholder="user" required class="form-control" 
      name="user" id="user" >
  </div>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myUserModal">Search</button>
  <br>
  <button class="btn btn-primary" (click)="onSubmit(taskModel)"    type="submit">Add Task</button>
<button class="btn btn-primary" [disabled]="!taskForm.valid" type="reset">reset</button>
  
</form>
{{taskForm.value | json}}
</div>



 <!-- The Modal  Project selection -->
 <div class="modal" id="myProjectModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          <div>
              <input type="text" class="form-control" id="searchProject" name="search" placeholder="Search..." (keyup)='searchProject($event.target.value)'>
            </div>
            <select class="form-control" [(ngModel)]="selectpro" (change)="projectIsChosen()">
              <option value="Default">.....Choose Project.....</option>
              <option *ngFor="let project of projectsList" [ngValue]="project" id="chosenProject" name="chosenProject" >{{project.projectName}}</option>
            </select>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


  <!-- The Modal  parent task selection -->
  <div class="modal" id="myParentTaskModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div>
                <input type="text" class="form-control" id="searchParent" name="search" placeholder="Search..." (keyup)='searchParent($event.target.value)'>
              </div>
              <select class="form-control" [(ngModel)]="selectparent" (change)="parentIsChosen()">
                <option value="Default">.....Choose parent.....</option>
                <option *ngFor="let parent of parentsList" [ngValue]="parent" id="chosenParent" name="chosenParent" >{{parent.parenttaskname}}</option>
              </select>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <!-- The Modal  user selection -->
  <div class="modal" id="myUserModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div>
                <input type="text" class="form-control" id="searchUser" name="search" placeholder="Search..." (keyup)='searchUser($event.target.value)'>
              </div>
              <select class="form-control" [(ngModel)]="select" (change)="userIsChosen()">
                <option value="Default">.....Choose Manager.....</option>
                <option *ngFor="let user of usersList" [ngValue]="user" id="chosenUser" name="chosenUser" >{{user.firstName}}</option>
              </select>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

   