


<h1>Project Manager</h1>
<nav>
       
    <a routerLink="/addproject" routerLinkActive="active">AddProject</a>
    <a routerLink="/addtask" routerLinkActive="active">AddTask</a>
    
    <a routerLink="/adduser" routerLinkActive="active">AddUser</a>
      
       <a routerLink="/viewtask" routerLinkActive="active">ViewTask</a>
       </nav> 
       <router-outlet></router-outlet>