<!-- <p>
    adduser works!
</p> -->


<!-- <br>
<div id ="addtask">
  <div class="container-fluid">
  
      <form id="formid" #userForm="ngForm" (ngSubmit)="onSubmit(userModel)" >
        <div class="form-group">
          <label>First Name</label>
   <input type="text" #firstname="ngModel" 
  placeholder="firstname" required class="form-control" 
  minlength="5" [class.is-invalid]="firstname.invalid && firstname.touched" 
   name="firstname" [(ngModel)]="userModel.firstname">
   <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">firstname is required</small>
        </div>
      
        <div class="form-group">
            <label>last Name</label>
     <input type="text" #firstname="ngModel" 
    placeholder="lastname" required class="form-control" 
    minlength="5" [class.is-invalid]="lastname.invalid && lastname.touched" 
     name="lastname" [(ngModel)]="userModel.lastname">
     <small class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">lastname is required</small>
          </div>

          <div class="form-group">
              <label>Emp Id</label>
       <input type="number" #empid="ngModel" 
      placeholder="empid" required class="form-control" 
     [class.is-invalid]="empid.invalid && empid.touched" 
       name="empid" [(ngModel)]="userModel.empid">
       <small class="text-danger" [class.d-none]="empid.valid || empid.untouched">empid is required</small>
            </div>    
              
        <button id ="submitbtn" class="btn btn-primary"[disabled]="userForm.form.invalid"  type="submit">Submit form</button>
    
      </form>
    </div>
  </div> 


   -->

<div class="container-fluid">
    <h2> Add User Form</h2>
    <form [formGroup]="userForm" (ngSubmnit)="onSubmit()">

        <div [hidden]="true" class="form-group">
            <input type="number" [(ngModel)]="example.userId" formControlName="userId" class="form-control">
        </div>

        <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" [(ngModel)]="example.firstName" [class.is-invalid]="firstName.invalid && firstName.touched"
                class="form-control">
            <div *ngIf="firstName.invalid && firstName.touched">
                <small class="text-danger" *ngIf="firstName.errors?.required">firstName is required</small>
                <small class="text-danger" *ngIf="firstName.errors?.minlength">firstName must be at least 3 characters</small>
            </div>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" [(ngModel)]="example.lastName" [class.is-invalid]="lastName.invalid && lastName.touched"
                class="form-control">
            <div *ngIf="lastName.invalid && lastName.touched">
                <small class="text-danger" *ngIf="lastName.errors?.required">lastName is required</small>
                <small class="text-danger" *ngIf="lastName.errors?.minlength">lastName must be at least 3 characters</small>
            </div>
        </div>

        <div class="form-group">
            <label>EmpId</label>
            <input type="number" [(ngModel)]="example.empId" formControlName="empId" [class.is-invalid]="empId.invalid && empId.touched"
                class="form-control">
            <small class="text-danger" [class.is-none]="empId.valid || empId.untouched"></small>
        </div>


        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!userForm.valid" type="submit">Add User</button>
        <button class="btn btn-primary" [disabled]="!userForm.valid" type="reset">reset</button>
    </form>

    {{userForm.value | json}}
</div>

<table class="table table-striped" [mfData]="userdata" #mf="mfDataTable" [mfRowsOnPage]="500">
    <thead>
        <tr>
            <th style="width: 20%">
                <input type="text" (keyup)='search($event.target.value)' placeholder="Search">
            </th>
            <th style="width: 20%">
                <label>Sort By: </label>
            </th>

            <th style="width: 20%">
                <mfDefaultSorter by="firstName">
                    <button>First Name</button>
                </mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="lastName">
                    <button>Last Name</button>
                </mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="empId">
                    <button>Emp Id</button>
                </mfDefaultSorter>
            </th>


        </tr>
        <tr>

            <th style="width: 20%">
                <label> firstName</label>
            </th>
            <th style="width: 20%">
                <label> Last Name</label>
            </th>
            <th style="width: 20%">
                <label> Emp Id</label>
            </th>
            <th style="width: 20%">
                <label> Edit</label>
            </th>
            <th style="width: 20%">
                <label> Delete</label>
            </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data">
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.empId}}</td>
            <td>
                <button type="button" (click)="editUser(item)" class="glyphicon glyphicon-check">Edit</button>
            </td>
            <td>
                <button type="button" (click)="deleteUser(item)" class="glyphicon glyphicon-check">Delete</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>