<p>
  viewtask works!
</p>

<table class="table table-striped" [mfData]="taskDatas" #mf="mfDataTable" [mfRowsOnPage]="500">
  <thead>
    <tr>
      <th style="width: 20%">
        <input type="text" (keyup)='search($event.target.value)' placeholder="Search">
      </th>
      <th style="width: 20%">
        <label>Sort By: </label>
      </th>

      <th style="width: 20%">
        <mfDefaultSorter by="startDate">
          <button>Start Date</button>
        </mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="endDate">
          <button>End Date</button>
        </mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="priority">
          <button>priority</button>
        </mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="completed">
          <button>completed</button>
        </mfDefaultSorter>
      </th>

    </tr>
    <tr>

      <th style="width: 20%">
        <label> Task</label>
      </th>
      <th style="width: 20%">
        <label>Parent</label>
      </th>
      <th style="width: 20%">
        <label>Priority</label>
      </th>
      <th style="width: 20%">
        <label>StartDate</label>
      </th>
      <th style="width: 20%">
        <label>EndDate</label>
      </th>
      <th style="width: 20%">
        <label> Edit</label>
      </th>
      <th style="width: 20%">
        <label> End</label>
      </th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.task}}</td>
      <td>{{item.parenttaskdata.parenttaskname}}</td>
      <td>{{item.priority}}</td>
      <td>{{item.startDate}}</td>
      <td>{{item.endDate}}</td>
      <td>
        <!-- <button type="button" (click)="updateTask(item)" class="glyphicon glyphicon-check">Edit</button> -->
        <button type="button" [disabled]="item.endTask" (click)="updateTask(item)" class="glyphicon glyphicon-check"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
      Edit
        </button>
        
      </td>
      <!-- <td><button [disabled]="data.activeTask" type="button"    (click)="open(content,data)"    class="glyphicon glyphicon-check">Edit</button></td>
      <td><button  type="button" (click)="onSelectEndTask(data)" class="glyphicon glyphicon-check">End Task</button></td>
       -->

      <td>
         

        <button type="button"  (click)="endTask(item)" class="glyphicon glyphicon-check">End</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>

 <!-- The Modal -->
 <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div>
                <div class="container-fluid">
                    <h2>Edit Task Form</h2>
                    <form #taskForm="ngForm" >
                    
                    
                      <div class="form-group">
                        <label>project</label>
                        <input type="text" placeholder="project" required class="form-control" 
                          name="project" id="project" >
                      </div>
                    
                      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myProjectModal">Search</button>
                    
                    
                      <div class="form-group">
                        <label>task</label>
                        <input type="text" #task="ngModel" placeholder="task" required class="form-control" [class.is-invalid]="task.invalid && task.touched"
                       name="task" [(ngModel)]="taskModel.task">
                          <small class="text-danger" [class.d-none]="task.valid || task.untouched">task is required</small>
                        </div>
                    
                      <input type="checkbox" name="check" (change)="tickparenttask()">
                      <label>Parent task</label>
                    
                      <div class="form-group">
                        <label>priority</label>
                        <p>{{taskModel.priority}}</p>
                        <input type="range" min="0" max="30"   [disabled]="isBoxDisabled"  #priority="ngModel" placeholder="priority" required class="form-control" [class.is-invalid]="priority.invalid && priority.touched"
                          name="priority" [(ngModel)]="taskModel.priority">
                        <small class="text-danger" [class.d-none]="priority.valid || priority.untouched">priority is required</small>
                      </div>
                    
                      <div class="form-group">
                        <label>Parent task</label>
                        <input  [disabled]="isBoxDisabled" type="text" placeholder="parentTask" required class="form-control" 
                          name="parent" id="parent" >
                      </div>
                    
                      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myParentTaskModal">Search</button>
                      
                      <div class="form-group">
                        <label>StartDate</label>
                        <input type="date"   [disabled]="isBoxDisabled"  [value]="date" #startDate="ngModel" placeholder="startDate" required class="form-control"
                          [class.is-invalid]="startDate.invalid && startDate.touched" name="startDate" [(ngModel)]="taskModel.startDate">
                        <small class="text-danger" [class.d-none]="startDate.valid || startDate.untouched">startdate is required</small>
                      </div>
                    
                    
                      <div class="form-group">
                        <label>EndDate</label>
                        <input type="date"   [disabled]="isBoxDisabled" [value]="date" #endDate="ngModel" placeholder="endDate" required class="form-control"
                          [class.is-invalid]="endDate.invalid && endDate.touched" name="endDate" [(ngModel)]="taskModel.endDate" >
                           <small class="text-danger" [class.d-none]="endDate.valid || endDate.untouched">endDate is required</small> 
                        </div>
                    
                      <div class="form-group">
                        <label>user</label>
                        <input type="text"  [disabled]="isBoxDisabled"  placeholder="user" required class="form-control" 
                          name="user" id="user" >
                      </div>
                    
                      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myUserModal">Search</button>
                      <br>
                      <button class="btn btn-primary" (click)="onSubmit(taskModel)"   type="submit">Add Task</button>
                    <button class="btn btn-primary" [disabled]="!taskForm.valid" type="reset">reset</button>
                      
                    </form>
                    {{taskForm.value | json}}
                    </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

<!-- <ng-template #content let-modal>
  <div >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">update task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <h2>Edit Task Form</h2>
      <form #taskForm="ngForm" >
      
      
        <div class="form-group">
          <label>project</label>
          <input type="text" placeholder="project" required class="form-control" 
            name="project" id="project" >
        </div>
      
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myProjectModal">Search</button>
      
      
        <div class="form-group">
          <label>task</label>
          <input type="text" #task="ngModel" placeholder="task" required class="form-control" [class.is-invalid]="task.invalid && task.touched"
         name="task" [(ngModel)]="taskModel.task">
            <small class="text-danger" [class.d-none]="task.valid || task.untouched">task is required</small>
          </div>
      
        <input type="checkbox" name="check" (change)="tickparenttask()">
        <label>Parent task</label>
      
        <div class="form-group">
          <label>priority</label>
          <p>{{taskModel.priority}}</p>
          <input type="range" min="0" max="30"   [disabled]="isBoxDisabled"  #priority="ngModel" placeholder="priority" required class="form-control" [class.is-invalid]="priority.invalid && priority.touched"
            name="priority" [(ngModel)]="taskModel.priority">
          <small class="text-danger" [class.d-none]="priority.valid || priority.untouched">priority is required</small>
        </div>
      
        <div class="form-group">
          <label>Parent task</label>
          <input  [disabled]="isBoxDisabled" type="text" placeholder="parentTask" required class="form-control" 
            name="parent" id="parent" >
        </div>
      
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myParentTaskModal">Search</button>
        
        <div class="form-group">
          <label>StartDate</label>
          <input type="date"   [disabled]="isBoxDisabled"  [value]="date" #startDate="ngModel" placeholder="startDate" required class="form-control"
            [class.is-invalid]="startDate.invalid && startDate.touched" name="startDate" [(ngModel)]="taskModel.startDate">
          <small class="text-danger" [class.d-none]="startDate.valid || startDate.untouched">startdate is required</small>
        </div>
      
      
        <div class="form-group">
          <label>EndDate</label>
          <input type="date"   [disabled]="isBoxDisabled" [value]="date" #endDate="ngModel" placeholder="endDate" required class="form-control"
            [class.is-invalid]="endDate.invalid && endDate.touched" name="endDate" [(ngModel)]="taskModel.endDate" >
             <small class="text-danger" [class.d-none]="endDate.valid || endDate.untouched">endDate is required</small> 
          </div>
      
        <div class="form-group">
          <label>user</label>
          <input type="text"  [disabled]="isBoxDisabled"  placeholder="user" required class="form-control" 
            name="user" id="user" >
        </div>
      
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myUserModal">Search</button>
        <br>
        <button class="btn btn-primary" (click)="onSubmit(taskModel)"  [disabled]="!taskForm.valid"  type="submit">Add Task</button>
      <button class="btn btn-primary" [disabled]="!taskForm.valid" type="reset">reset</button>
        
      </form>
      {{taskForm.value | json}}
      </div>
  </div>
</div>
</ng-template> -->

